 <ul class="sidebar__list show hide "> <li class="show active show depth1"> <a class="first" href="{% url  '/dveri-bravo/' %}"> <span>&nbsp;&nbsp;+&nbsp;&nbsp;</span>
 Двери Браво </a>
 </li>
  <li class="show active show depth1"> <a class="first" href="{% url  '/dveri-bravo/mezhkomnatnye/' %}"> <span>&nbsp;&nbsp;-&nbsp;&nbsp;</span>
 Межкомнатные двери </a>
 <ul class=" show"> <li class="sidebar__action"> <span class="sidebar__back">Назад</span>
 <a class="sidebar__go" href="{% url  '/dveri-bravo/mezhkomnatnye/' %}">Перейти</a>
 </li>
 <li class=" depth2"> <a class="first" href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/' %}"> Эко Шпон </a>
 <ul class=" "> <li class="sidebar__action"> <span class="sidebar__back">Назад</span>
 <a class="sidebar__go" href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/' %}">Перейти</a>
 </li>
 <li class=" depth3"> <a class="first" href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/porta-x/' %}"> Porta X </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/porta-z/' %}"> Porta Z </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/porta-t/' %}"> Porta T </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/legno/' %}"> Legno </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/classico-s/' %}"> Classico S </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/classico-m/' %}"> Classico M </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/vetro/' %}"> Vetro </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/soft/' %}"> Soft </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/trend/' %}"> Trend </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/simple/' %}"> Simple </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/block/' %}"> Block </a>
 </li>
 <li class=" depth3"> <a href="{% url  '/dveri-bravo/mezhkomnatnye/ekoshpon/gulliver/' %}"> Gulliver </a>
 </li>
 </ul>
 </li>
 <li class=" depth2"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/hard-fleks/' %}"> Хард Флекс </a>
 <ul class=" "> <li class="sidebar__action"> <span class="sidebar__back">Назад</span>
 <a class="sidebar__go" href="
{% url  '/dveri-bravo/mezhkomnatnye/hard-fleks/' %}">Перейти</a>
 </li>
 <li class=" depth3"> <a class="first" href="
{% url  '/dveri-bravo/mezhkomnatnye/hard-fleks/bravo/' %}"> Bravo </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/hard-fleks/moda/' %}"> Moda </a>
 </li>
 </ul>
 </li>
 <li class=" depth2"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/laminirovannye/' %}"> Финиш Флекс </a>
 <ul class=" "> <li class="sidebar__action"> <span class="sidebar__back">Назад</span>
 <a class="sidebar__go" href="
{% url  '/dveri-bravo/mezhkomnatnye/laminirovannye/' %}">Перейти</a>
 </li>
 <li class=" depth3"> <a class="first" href="
{% url  '/dveri-bravo/mezhkomnatnye/laminirovannye/trend/' %}"> Trend </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/laminirovannye/master/' %}"> Master </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/laminirovannye/glace/' %}"> Glace </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/laminirovannye/sweet/' %}"> Sweet </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/laminirovannye/porta-x/' %}"> Porta X </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/laminirovannye/simple/' %}"> Simple </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/laminirovannye/direct/' %}"> Direct </a>
 </li>
 </ul>
 </li>
 <li class=" depth2"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/pvh/' %}"> Винил </a>
 <ul class=" "> <li class="sidebar__action"> <span class="sidebar__back">Назад</span>
 <a class="sidebar__go" href="
{% url  '/dveri-bravo/mezhkomnatnye/pvh/' %}">Перейти</a>
 </li>
 <li class=" depth3"> <a class="first" href="
{% url  '/dveri-bravo/mezhkomnatnye/pvh/start/' %}"> Start </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/pvh/skinny/' %}"> Skinny </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/pvh/graffiti/' %}"> Graffiti </a>
 </li>
 </ul>
 </li>
 <li class=" depth2"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/shpon/' %}"> Шпон </a>
 <ul class=" "> <li class="sidebar__action"> <span class="sidebar__back">Назад</span>
 <a class="sidebar__go" href="
{% url  '/dveri-bravo/mezhkomnatnye/shpon/' %}">Перейти</a>
 </li>
 <li class=" depth3"> <a class="first" href="
{% url  '/dveri-bravo/mezhkomnatnye/shpon/wood-neoclassic/' %}"> Wood NeoClassic </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/shpon/wood-modern/' %}"> Wood Modern </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/shpon/wood-flat/' %}"> Wood Flat </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/shpon/wood-art/' %}"> Wood Art </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/shpon/wood-classic/' %}"> Wood Classic </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/shpon/elit/' %}"> Elit </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/shpon/fine-line/' %}"> Fine-line </a>
 </li>
 </ul>
 </li>
 <li class=" depth2"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/massiv/' %}"> Массив </a>
 </li>
 <li class=" depth2"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/emal/' %}"> Эмаль </a>
 </li>
 <li class=" depth2"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/steklyannye/' %}"> Стеклянные </a>
 <ul class=" "> <li class="sidebar__action"> <span class="sidebar__back">Назад</span>
 <a class="sidebar__go" href="
{% url  '/dveri-bravo/mezhkomnatnye/steklyannye/' %}">Перейти</a>
 </li>
 <li class=" depth3"> <a class="first" href="
{% url  '/dveri-bravo/mezhkomnatnye/steklyannye/bravo-glass/' %}"> Bravo Glass </a>
 </li>
 <li class=" depth3"> <a href="
{% url  '/dveri-bravo/mezhkomnatnye/steklyannye/sauna/' %}"> Sauna </a>
 </li>
 </ul>
 </li>
 </ul>
 </li>
 <li class=" depth1"> <a href="
{% url  '/dveri-bravo/vhodnye/' %}"> <span class="sidebar__icon icon-entrance"></span>
 Входные двери </a>
 <ul class=" "> <li class="sidebar__action"> <span class="sidebar__back">Назад</span>
 <a class="sidebar__go" href="
{% url  '/dveri-bravo/vhodnye/' %}">Перейти</a>
 </li>
 <li class=" depth2"> <a class="first" href="
{% url  '/dveri-bravo/vhodnye/optim/' %}"> Optim </a>
 </li>
 <li class=" depth2"> <a href="
{% url  '/dveri-bravo/vhodnye/porta-r/' %}"> Porta R </a>
 </li>
 <li class=" depth2"> <a href="{% url  '/dveri-bravo/vhodnye/porta-s/' %}"> Porta S </a>
 </li>
 <li class=" depth2"> <a href="{% url  '/dveri-bravo/vhodnye/porta-m/' %}"> Porta М </a>
 </li>
 <li class=" depth2"> <a href="{% url  '/dveri-bravo/vhodnye/groff/' %}"> Groff </a>
 </li>
 <li class=" depth2"> <a href="{% url  '/dveri-bravo/vhodnye/seriya-optim-termo/' %}"> Thermo </a>
 </li>
 <li class=" depth2"> <a href="{% url  '/dveri-bravo/vhodnye/russian-style-knr/' %}"> Прочие </a>
 </li>
 </ul>
 </li>
 <li class=" depth1"> <a href="
{% url  '/dveri-lyuksor/' %}"> <span class="sidebar__icon icon-entrance"></span>
 Двери Люксор </a>
 </li>
 <li class=" depth1"> <a href="{% url  'kuhni/' %}"> <span class="sidebar__icon icon-sliding"></span>
 Кухни </a>
 </li>
 <li class=" depth1"> <a href="{% url  '/mebel/' %}"> <span class="sidebar__icon icon-arch"></span>
 Мебель </a>
 </li>
 <li class=" depth1"> <a href="{% url  '/napolnye-pokrytiya/' %}"> <span class="sidebar__icon icon-special"></span>
 Напольные покрытия </a>
 </li>
 <li class=" depth1"> <a href="{% url  '/santekhnika/' %}"> <span class="sidebar__icon icon-hardware"></span>
 Сантехника </a>
 </li>
 <li class=" depth1"> <a href="{% url  '/instrument/' %}"> <span class="sidebar__icon icon-installation"></span>
 Инструмент </a>
 </li>
 <li class=" depth1"> <a href="{% url  '/tovara-dlya-doma/' %}"> <span class="sidebar__icon icon-help"></span>
 Товара для дома </a>
 </li>
 <li class=" depth1"> <a href="{% url  '/kraski/' %}"> <span class="sidebar__icon icon-arch"></span>
 Краски </a>
 </li>
 <li class=" depth1"> <a href="{% url  '/skobyanye-izdeliya/' %}"> <span class="sidebar__icon icon-special"></span>
 Скобяные изделия </a>
 </li>
 <li class=" depth1"> <a href="{% url  '/strojmaterialy/' %}"> <span class="sidebar__icon icon-hardware"></span>
 Стройматериалы </a>
 </li>
 <li class=" depth1"> <a href="{% url  '/okna/' %}"> <span class="sidebar__icon icon-installation"></span>
 Окна </a>
 </li>
 <li class=" depth1"> <a href="{% url  '/uslugi-remonta/' %}"> <span class="sidebar__icon icon-help"></span>
 Услуги ремонта </a>
 </li>
 </ul>
 </aside>