<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>""</title>
 <meta name="description" content=""> <meta name="keywords" content=""> 
 <link rel="canonical" href="index.html" /> 
 {% load static %}
 <link rel="stylesheet" href="{% static 'css/styleb56d.css' %}" /> 
 <link rel="icon" href="favicon6a9c.png?t=1593277493" type="image/png" /> 
 <link rel="shortcut icon" href="favicon6a9c.png?t=1593277493" type="image/png" /> 
 <link rel="preconnect" href="../api-maps.yandex.ru/index.html"> 
 <link rel="dns-prefetch" href="../api-maps.yandex.ru/index.html"> 
 <link rel='manifest' href='manifest.json'> <meta name="theme-color" content="#000"> 
 </head>
  
 <body class=""> <div class="wrapper"> <aside class="sidebar"> <span class="sidebar__logo"> <img src="img/logo.jpg" alt=""> </span>
 <div class="sidebar__description hidden-closed">ОТКРОЙ ДВЕРЬ К ЛУЧШЕМУ</div>
 <div class="modal__top"> <div class="modal__top-left">Каталог</div>
 <div class="modal__top-right"> <span class="modal__top-close modal_close"></span>
 </div>
 </div>  
  

{% block menu %}{% endblock %}
 
{% block content %}{% endblock %}


</html>